*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 80px;
}

.left{
  width: 20vw;
  height: 100%;
  text-align: center;
}

.left img{
  width: auto;
  height: 70px;
  margin: 5px auto;
}

.right{
  background: green;
  width: 80vw;
  height: 100%;
}
